* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 3%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  max-width: 400px;
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  text-align: center;
}

.form-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

input {
  font-size: 1rem;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: rgb(51, 51, 51);
}

.btn-link {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

p {
  font-size: 1rem;
  margin-top: 10px;
}

.form-link {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.error-msg {
  margin-bottom: 10px;
  padding: 20px;
  font-weight: 700;
  color: rgb(133, 0, 0);
  background-color: rgb(196, 196, 196);
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(133, 0, 0);
}

.header-logged-in {
  width: fit-content;
  display: flex;
  align-items: center;
}

 /* Torbjörn */

 .bio {
  display: flex;
  flex-direction: column;
}

.bio-text {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(0, 0, 0, 0);
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 1);
  width: 50%;
}

.footer {
  margin-top: auto;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.1);
  filter: blur(0.5px);
  color: black;
  height: auto 0;
  width: 100%;
}

span {
  text-decoration: underline;
}
.span {
  width: 150px;
}
.bio-container {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0 0 8px 8px;
  background-color: rgb(241, 242, 241, 1);
  padding: 1rem 1.5rem 1.5rem 2rem;
}

.user {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  border: 1px solid;
  border-radius: 8px;
  background-color: rgb(0, 100, 255, 0.25);
}
.user-title {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}
.name-email {
  background-color: rgb(241, 242, 241, 1);
  border: 1px solid;
  display: flex;
  padding: 0.25rem 2rem 1rem 2rem;
  border-radius: 8px 8px 0 0;
}

.user-link {
  margin-top: 5rem;
  width: 400px;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  text-align: center;
}

.image-container {
  padding: 0.25rem 2rem 1rem 2rem;
  min-width: 300px;
  max-width: 100%;
  min-height: 350px;
  max-height: 500px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  background-color: rgb(241, 242, 241, 1);
}

.cmt {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(0, 0, 0, 0);
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 1);
  width: 50%;
}

.flow {
  width: 90vw;
  min-height: 55vh;
  max-height: auto;
  border-left: 1px solid;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
